<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>This is show contacts page</title>
</head>
<body>
	<section>
		<div class="card me-3 ms-3">
			<div class="card-body p-2">
				<h1 class="text-center ">Your Contacts</h1>
				
				<!-- Search functionality  -->
				<div class="search-container my-4">
					<input onkeyup="search()" id="search-input" type="text" class="form-control" placeholder="Search contact here" />
					
					<div class="search-result">
						<!-- Result goes here -->
					</div>
				</div>
				
				<div class="table-responsive">
				<table class="table">
					<thead class="table-dark">
						<tr>
							<th scope="col">#ID</th>
							<th scope="col">Name</th>
							<th scope="col">Email</th>
							<th scope="col">Phone</th>
							<th scope="col">Action</th>

						</tr>
					</thead>
					<tbody>
						<tr th:each="c : ${contacts}">
							<th th:text="'SCM2023'+${c.cId}" scope="row"></th>
							<td><img class="my_profile_picture"
								th:src="@{'/image/'+${c.image}}" alt="" /> <span
								th:text="${c.name}"></span></td>
							<td><a th:href="@{'/user/contact/'+${c.cId}}"><span
									th:text="${c.email}"></span></a></td>
							<td th:text="${c.phone}"></td>
							<td>
								
								<button th:onclick="|deleteContact(${c.cId})|" class="fabutton" >
								<i class="fa fa-trash" style="font-size: 20px; color: red;"></i></button>
								
								<form method="post" th:action="@{'/user/update-contact/'+${c.cId}}">
									<button type="submit" class="fabutton"><i class="fa fa-edit" style="font-size: 20px; color: blue;"></i></button>
								</form>
							</td> 
						</tr>

					</tbody>
				</table>
				</div>
				<!-- Pagination part -->
				<nav aria-label="Page navigation example">
					<ul class="pagination">
						<li th:if="${currentPage != 0}" class="page-item"><a
							th:href="@{'/user/show-contacts/'+${currentPage-1}}"
							class="page-link">Previous</a></li>
						<li th:classappend="${currentPage==i-1?'active':''}"
							th:each="i : ${#numbers.sequence(1, totalPages)}"
							class="page-item"><a class="page-link"
							th:href="@{'/user/show-contacts/'+${i-1}}" th:text="${i}"></a></li>
						<li th:if="${currentPage+1 != totalPages}" class="page-item"><a
							th:href="@{'/user/show-contacts/'+${currentPage+1}}"
							class="page-link">Next</a></li>
					</ul>
				</nav>
			</div>
		</div>

		<!-- this code for active link -->
		<script>
			$(document).ready(()=>{
				$(".item").removeClass("active");
				$("#show-contact-link").addClass("active");
			});
			
		</script>
	</section>

</body>
</html>