<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>This is verify otp page</title>
</head>
<body>
	<section>
		<div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12" style="height: 100%;">
                    
                    <!--Email Form  -->
                    <div class="alert alert-success m-3" role="alert">
  						We have sent OTP to your register email
					</div>
                    <!-- Message Box -->
                    <div th:if="${session.message}" class="container text-center">
						<div class="alert alert-danger my-2" role="alert">
							<span th:text="${session.message}"></span>
						</div>
						<th:block th:text="	${#session.removeAttribute('message')}"></th:block>
					</div>
                        <form id="login-form" class="form" th:action="@{/verify-otp}" method="post">
                    		<div class="form-group">
                    			<input type="number" name="otp" class="form-control" placeholder="Enter OTP here..." required />
                    		</div>        
                    		<div class="container text-center my-4 ">
                    			<button class="btn btn-success ">Verify</button>
                    			
                    		</div>
                            
						</form>
                    </div>
                </div>
            </div>
        </div>
    </div>
	</section>
	
</body>
</html>